@import "../utils/values/colors.css";
@import "../utils/values/fonts.css";

header {
    margin: auto;
    background-image: linear-gradient(var(--green-300), var(--green-500));
    text-align: center;
    color: white;
    height: 200px;
    display: flex;
    text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.466);
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    box-shadow: 3px 3px 2px rgba(0, 0, 0, 0.31);
}

header > h1 {
    font-family: var(--bebas-font);
    font-size: 3em;
    font-weight: 300;
}