@import "../utils/values/colors.css";
@import "../utils/values/fonts.css";

nav {
    background-color: var(--green-500);
}

nav > ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

nav > ul > li {
    text-align: center;
    padding: 10px;
}

nav > ul > li:hover {
    cursor: pointer;
    background-color: rgba(255, 250, 250, 0.15);
    transition: 0.3s;
}

nav > ul > li > a:active {
    color: var(--green-100);
}

nav > ul > li > a {
    color: white;
    font-weight: bold;
}